.profile-panel {    
    grid-area: panel;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 406px;
    height: 340px;
    box-shadow: 0px 2px 5px var(--shadow-color);
    position: relative;
    align-items: center;

    transition: left 1s ease;
}

.panel {
    display: flex;
    gap: 7px;
    flex-direction: column;
    background-color: white;
    height: 300px;
    width: 350px;
    position: relative;
    box-shadow: 0px 2px 5px var(--shadow-color);
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    color: var(--accent-color);
    background: linear-gradient(to top, white 82%, var(--primary-color-light) 18%);
}