.button {
    background-color: var(--primary-color);
    width: 150px;
    height: 25px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--shadow-color);
} 